<% provide(:title, "About") %>
<h1>About</h1>
<p>
  A twitter-like application where people can sign up, post stupid
  stuff(and pictures!) and follow others to see their stupid stuff(and pictures!). 
  Yaaayyyyyy.
</p>
